#ErrorDocument 404 SystemMaintenance
ErrorDocument 404 /error.php

Options -Indexes

<Files .htaccess>
  Order deny,allow
  Deny from all
</Files>


# ==============================
# BEGIN Domain to folder mapping
# ==============================

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# isca-apologetics-feed.org
ReWriteCond %{HTTP_HOST} isca-apologetics-feed.org
ReWriteCond %{REQUEST_URI} !isca/
ReWriteRule ^(.*)$ isca/$1 [L]

# www.nwaartssociety.org/
ReWriteCond %{HTTP_HOST} nwaartssociety.com
ReWriteCond %{REQUEST_URI} !nwaas/
ReWriteRule ^(.*)$ nwaas/$1 [L]

#RewriteCond %{HTTP_HOST} !www.danguinn.com$ [NC]
#RewriteCond %{HTTP_HOST} ^(www.)?([a-z0-9-]+).danguinn.com [NC]
#RewriteRule (.*) dan-guinn/%2/$1 [L]

# danguinn.com
ReWriteCond %{HTTP_HOST} danguinn.com
ReWriteCond %{REQUEST_URI} !dan-guinn/
ReWriteRule ^(.*)$ dan-guinn/$1 [L]


# francisschaefferstudies.org
ReWriteCond %{HTTP_HOST} francisschaefferstudies.org
ReWriteCond %{REQUEST_URI} !fss/
ReWriteRule ^(.*)$ fss/$1 [L]

RewriteCond %{HTTP_HOST} !www.francisschaefferstudies.org$ [NC]
RewriteCond %{HTTP_HOST} ^(www.)?([a-z0-9-]+).francisschaefferstudies.org [NC]
RewriteRule (.*) fss/%2/$1 [L]


# sacreddayphotography.com
ReWriteCond %{HTTP_HOST} sacreddayphotography.com
ReWriteCond %{REQUEST_URI} !sacred-day/
ReWriteRule ^(.*)$ sacred-day/$1 [L]



# apologeticsscholars.com
ReWriteCond %{HTTP_HOST} apologeticsscholars.com
ReWriteCond %{REQUEST_URI} !apologetics-scholars
ReWriteRule ^(.*)$ apologetics-scholars/$1 [L]

# apologeticsscholars.org
ReWriteCond %{HTTP_HOST} apologeticsscholars.org
ReWriteCond %{REQUEST_URI} !apologetics-scholars
ReWriteRule ^(.*)$ apologetics-scholars/$1 [L]

# schaefferscholars.org
ReWriteCond %{HTTP_HOST} schaefferscholars.org
ReWriteCond %{REQUEST_URI} !schaeffer-scholars
ReWriteRule ^(.*)$ schaeffer-scholars/$1 [L]

# schaefferscholars.com
ReWriteCond %{HTTP_HOST} schaefferscholars.com
ReWriteCond %{REQUEST_URI} !schaeffer-scholars
ReWriteRule ^(.*)$ schaeffer-scholars/$1 [L]

# http://lowcosttradingoutpost.com
ReWriteCond %{HTTP_HOST} lowcosttradingoutpost.com
ReWriteCond %{REQUEST_URI} !lct-outpost
ReWriteRule ^(.*)$ lct-outpost/$1 [L]

# lowcosttradingpost.com
ReWriteCond %{HTTP_HOST} lowcosttradingpost.com
ReWriteCond %{REQUEST_URI} !low-cost-trading-post
ReWriteRule ^(.*)$ low-cost-trading-post/$1 [L]

# donaldtwilliams.com
ReWriteCond %{HTTP_HOST} donaldtwilliams.com
ReWriteCond %{REQUEST_URI} !donald-t-williams
ReWriteRule ^(.*)$ donald-t-williams/$1 [L]


# donaldtwilliams.org
ReWriteCond %{HTTP_HOST} donaldtwilliams.org
ReWriteCond %{REQUEST_URI} !donald-t-williams
ReWriteRule ^(.*)$ donald-t-williams/$1 [L]

# forumforchristianthought.com
ReWriteCond %{HTTP_HOST} forumforchristianthought.com
ReWriteCond %{REQUEST_URI} !forum-for-christian-thought
ReWriteRule ^(.*)$ forum-for-christian-thought/$1 [L]


# guinnelectronics.net
ReWriteCond %{HTTP_HOST} guinnelectronics.net
ReWriteCond %{REQUEST_URI} !guinn-electronics
ReWriteRule ^(.*)$ guinn-electronics/$1 [L]


# guinnelectronics.com
ReWriteCond %{HTTP_HOST} guinnelectronics.com
ReWriteCond %{REQUEST_URI} !guinn-electronics
ReWriteRule ^(.*)$ guinn-electronics/$1 [L]

# guinnelectronics.info
ReWriteCond %{HTTP_HOST} guinnelectronics.info
ReWriteCond %{REQUEST_URI} !guinn-electronics
ReWriteRule ^(.*)$ guinn-electronics/$1 [L]

# buffyanimalwelfaregroup.org
ReWriteCond %{HTTP_HOST} buffyanimalwelfaregroup.org
ReWriteCond %{REQUEST_URI} !buffygroup
ReWriteRule ^(.*)$ buffygroup/$1 [L]

# kcironfan.com
ReWriteCond %{HTTP_HOST} kcironfan.com
ReWriteCond %{REQUEST_URI} !kcironfan
ReWriteRule ^(.*)$ kcironfan/$1 [L]



</IfModule>
